<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mzoughi House || Tables</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
        <li><a href="cuisines.html" class="page-scroll">Cuisines</a></li>
        <li><a href="Salons.html" class="page-scroll">Salons</a></li>
        <li><a href="tables.html" class="page-scroll">Tables</a></li>
        <li><a href="cham.html" class="page-scroll">Chambres</a></li>
        <li><a href="burr.html" class="page-scroll">Bureaux</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro3">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro3-text">
            <h1>Mzoughi House</h1>
            <p>Ordre: (+216) 91 311 647</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <p><br></p>
      <h2>Tables</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">          
          <img src="img/tables/1.jpg" class="img-responsive" id="myImg" alt="">
          <h3>400DT</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">          
          <img src="img/tables/2.jpg" class="img-responsive" id="myImg" alt="">
          <h3>XXX DT</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">          
          <img src="img/tables/3.jpg" class="img-responsive" id="myImg" alt="">
          <h3>XXX DT</h3>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">          
            <img src="img/tables/4.jpg" class="img-responsive" id="myImg" alt="">
            <h3>XXX DT</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">            
            <img src="img/tables/5.jpg" class="img-responsive" id="myImg" alt="">
            <h3>XXX DT</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">            
            <img src="img/tables/6.jpg" class="img-responsive" id="myImg" alt="">
            <h3>XXX DT</h3>
          </div>
        </div>
   
    <p><br></p>
  </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <img src="img/tables/7.jpg" class="img-responsive" id="myImg" alt="">
            <h3>XXX DT</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <img src="img/tables/8.jpg" class="img-responsive" id="myImg" alt="">
            <h3>XXX DT</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">       
            <img src="img/tables/9.jpg" class="img-responsive" id="myImg" alt="">
            <h3>XXX DT</h3>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<p><br></p>
   
<!-- Contact Section -->
<div id="contact" class="text-center">
    <div class="container text-center">
      <div class="col-md-4">
        <h3>Ordre</h3>
        <div class="contact-item">
          <p>Appelez-nous</p>
          <p>(+216) 96 311 647</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Addresse</h3>
        <div class="contact-item">
          <p>2036 Dar Fadhal </p>
          <p>Soukra Ariana</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Horaires d'ouvertures</h3>
        <div class="contact-item">
          <p>lun-vend: 8:00 AM - 6:00 PM</p>
          <p>sam: 9:00 AM - 1:00 PM</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section-title text-center">
        <h3>Envoyer Un Message</h3>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Nom" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-custom btn-lg">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container text-center">
      <div class="col-md-6">
        <p>&copy; 2021 Mzoughi House. All rights reserved. Design by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
      </div>
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/contact_me.js"></script> 
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
